.root {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#menuButton, #resetButton {
    -fx-background-color: rgb(255,255,255);
    -fx-font-size: 15;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
