.root {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#_playButton {
    -fx-background-color: rgb(255,255,255);
    -fx-font-size: 41;
    -fx-border-width: 5px;
    -fx-border-color: black;
}

